@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
    color: #001C4E;
    font-size: 25px;
    margin-top: 100px;
    background-color: rgb(155, 172, 205);
}


.principalcontainer {
    height: 550px;
    width: 50%;
    background-color: rgb(194, 194, 230);
    box-shadow: 0px 0px 12px black;
    text-align: center;
}

.btn-class{
    width: 200px;
}
.btn-class:hover{
    background-color: #6f8ec5;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 8px black;
}
@media screen and (max-width:810px) {
    body{
        font-family: 'Montserrat', sans-serif;
        color: #001C4E;
        font-size: 15px;
        text-align: center;
    }
    
    div img{
        width: 100px;
    }
    .btn-class{
        width: 100px;
    } 
   
}